body {
    background-color: purple;
}
#checkbox{
    width: 500px;
    background-color: steelblue;
    height: 600px;
}
p{

    width: 90%;
    margin-left: 5px;
    margin-right: 5px;
    background-color: white;
    text-align: left;
    
}
p:hover{
    background-color: grey;
}
#checkboxContent{
    display: none;
}
.show {display: block;}
